#projects {
  padding: 40px 5%;

  h2 {
    text-align: center;
    font-size: 45px;
  }

  p {
    text-align: center;
    margin: 20px 10%;
    font-size: 20px;
    a {
      text-decoration: underline;
    }
  }
  .project {
    display: flex;
    width: 70%;
    gap: 25px;
    margin: 20px auto;
    img {
      width: 400px;
      border-radius: 10px;
      height: 250px;
    }
    p {
      margin: 0;
      font-size: 18px !important;
      margin-bottom: 20px;
      text-align: left;
    }
  }
}

@media (max-width: 1000px) {
    .project{
        flex-direction: column;

        img{
            width: 100% !important;
        }
    }
}