@use "../../assets/styles/variables" as var;

header {
  transition: all 0.3s linear;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 10%;

    .logo {
      cursor: pointer;
    }

    .networks {
      gap: 15px;

      ul li {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a {
        display: inline-flex;
        border-radius: 50%;
        font-size: 26px;
        padding: 6px;
      }

      .contact {
        background-color: var.$mainColor;
        border: 1px solid white;
        color: white;
        font-weight: 600;
        font-size: 16px;
        border-radius: 10px;
        padding: 12px 15px;

        &:hover {
          color: var.$mainColor;
          border: 1px solid white;
          background-color: white;
        }
      }
    }
    .mob {
      display: none;
    }

    .links ul,
    .networks ul {
      display: flex;
      gap: 40px;

      li {
        font-weight: 600;
      }

      a {
        color: rgb(193, 193, 193);

        &:hover {
          color: white;
        }
      }
    }

    .networks ul {
      gap: 10px;
    }

    .hammenu {
      display: none;

      svg {
        font-size: 24px;
        cursor: pointer;
      }
    }
  }
}
.fixed {
  background-color: var.$mainColor;
}

@media (max-width: 768px) {
  nav {
    justify-content: space-between;

    .hammenu {
      display: block !important;
    }

    .networks {
      display: none;
    }

    .hide {
      position: absolute;
      top: -500px;
    }

    .links .active {
      background-color: white;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      gap: 0;
      z-index: 999;
      top: 70px;
      right: 0;
      width: 200px;
      box-shadow: rgba(134, 133, 133, 0.708) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.128) 0px 2px 6px 0px;
      li {
        width: 100%;
      }
      a {
        width: inherit;
        padding: 20px 15px;
        display: inline-block;
        color: var.$mainColor;
        text-align: center;
        &:hover {
          color: white;
          background-color: var.$mainColor;
        }
      }
    }
    .mob {
      display: flex !important;
      flex-direction: column;
      a {
        display: flex !important;
        gap: 10px;
        justify-content: center;
        align-items: center;
      }
    }
    .contact {
      font-weight: 700;
    }
  }
}

@media (min-width: 1300px) {
  .logo h1 {
    font-size: 40px !important;
  }

  .links li {
    font-size: 24px !important;
  }

  .networks ul a {
    font-size: 30px !important;
  }

  .contact {
    font-size: 20px !important;
  }

  nav {
    height: 80px !important;
  }
}
