#skills {
  height: calc(100vh - 100px);
  padding: 0 5%;
  h2 {
    text-align: center;
    font-size: 32px;
    margin: 50px 0 10px 0;
  }

  p{
    text-align: center;
    padding: 20px 10%;
    padding-bottom: 50px;
  }

  .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  h5 {
    font-size: 18px !important;
    font-weight: 600; 
    text-align: center;
  }
}
