@use "../../assets/styles/variables" as var;

#contact {
  padding: 100px 5%;
  padding-bottom: 60px;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
  }
  .contact {
    display: flex;

    .contact-img {
      width: 50%;

      img {
        animation: leftright 3s linear infinite;
      }
    }

    form {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .input {
      margin: 7px 0;
      text-align: center;
      input,
      textarea {
        height: 45px;
        padding: 20px 10px;
        border-radius: 10px;
        border: none;
        width: 350px;
      }
    }
    textarea {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      min-height: 100px !important;
      resize: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    button {
      width: 350px;
      padding: 12px 0;
      margin-top: 10px;
      color: white;
      border: 1px solid var.$mainColor;
      border-radius: 5px;
      background-color: var.$mainColor;

      &:hover {
        background-color: white;
        color: var.$mainColor;
        font-weight: 700;
      }
    }
  }

  .phoneInput input{
    padding-left: 45px !important;
  }

  .input-fixer{
    text-align: left !important;
  }

  .country-name{
    color: black;
  }
}

@keyframes leftright {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}

@media (max-width: 768px) {
  #contact {
    background-color: #8bc6ec;
    height: 100vh;
    background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-img {
    display: none;
  }

  form {
    width: 100% !important;
  }
}

@media (min-width: 1300px) {
  .contact{
    align-items: center !important;
  }
}