@font-face {
	font-family: Centra;
	src: url('../src/assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('../src/assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('../src/assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Centra', sans-serif !important;
}

html{
  scroll-behavior: smooth;
}

body{
  background: #121212 !important;
  color: white !important;
}

button {
 cursor: pointer;
}

li {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: white;
}

.d-flex{
  display: flex;
}

.header{
  background-image: url("../src/assets/img/banner-bg.png");
}
